@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
.react-calendar {
   margin-top: -10px;
   width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    background: white;
    border: 3px solid #137797;
    line-height: 1.125em;
    font-size: 12px;
    border-radius: 20px;
    color: #137797;
  }
  .react-calendar--doubleView {
    width: 500px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    justify-content: center;
    margin-bottom: 0px;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    /* visibility: hidden; */
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .wrapCalendarInput{
    position: relative;
    z-index: 1;
  }
  .custom-div {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
  }
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .wrapbtnClose {
 
    display: flex;
    justify-content: flex-end;
    width: 81%;
    position: absolute;
    margin-top: 7px;
    padding-right: 15px;
    padding-bottom: 0px;
    z-index: 100;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: #137797;
    border-bottom: solid 2px;
    border-color: #137797;
    margin: 0 5px;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    
  }
 
  .react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding:  0em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding:5px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-bottom: 1px solid;
    text-transform: uppercase;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #1376975e;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #1376975e;
  }
  .react-calendar__tile--active {
    width: 100%;
    height: 100%;
    background: #137797;
    color: #fff;
    border: solid 1px;
    border-color: #137797;
    border-radius: 60%;
    font-weight: 700;
    
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #137797;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  .centerLoader{
    display: flex;
   justify-content:center;
   margin-top:5%

  }
  .autocompleteBox{
    border:1px solid #e6e6e6;
    border-radius:6px;
    padding:10px;
    margin-top:2%;
    
    
  
  }
  .scrollTableStyle{
    
  }
  .autocompleteBox :hover {
    cursor: pointer;
    background-color: #9BC5D3;
    color: #000000;
    border-radius:6px;
    padding:3.5px;
  }
  @media (max-width: 800px) {
    .react-calendar__month-view__weekdays{
      font-size: 0.7em;
    }
    .react-calendar__navigation  {
      justify-content: center;
      gap: 0.5px;
    }
  }