@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
.react-calendar {
   margin-top: -10px;
   width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 6px;
    background: white;
    border: 3px solid #137797;
    line-height: 1.125em;
    font-size: 12px;
    border-radius: 20px;
    color: #137797;
  }
  .react-calendar--doubleView {
    width: 500px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    padding-top: 30px;
    display: flex;
    height: 44px;
    justify-content: center;
    margin-bottom: 0px;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    /* visibility: hidden; */
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .wrapCalendarInput{
    position: relative;
    z-index: 1;
  }
  .custom-div {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
  }
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .wrapbtnClose {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    margin-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    z-index: 100;
  }
  @media (max-width: 960px){
    .wrapbtnClose{
      width: 50%;
    }
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: #137797;
    border-bottom: solid 2px;
    border-color: #137797;
    margin: 0 5px;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    
  }
 
  .react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding:  0em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding:5px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-bottom: 1px solid;
    text-transform: uppercase;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #1376975e;
    color: #FFF;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #1376975e;
    color: #FFF;
  }
  .react-calendar__tile--hasActive {
    background: #1376975e;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #1376975e;
  }
  .react-calendar__tile--active {
    width: 100%;
    height: 100%;
    background: #137797;
    color: #fff;
    border: solid 1px;
    border-color: #137797;
    border-radius: 60%;
    font-weight: 700;
    
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #137797;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  .centerLoader{
    display: flex;
   justify-content:center;
   margin-top:5%

  }
  .autocompleteBox{
    border:1px solid #e6e6e6;
    border-radius:6px;
    padding:10px;
    margin-top:2%;  
  
  }
  .options{
    position: relative;
    top: -50px;
    left: -3px;
      padding:20px ;
      border-radius: 10px;
      background: #fff;
      margin-top: 10px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
   width: 270px;
   z-index: 100;
 
  }
  .container {
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Ocultar el scroll de Firefox */
    -ms-overflow-style: none; /* Ocultar el scroll de IE/Edge */
  }
  
  .container::-webkit-scrollbar {
    display: none; /* Ocultar el scroll de Chrome/Safari/Opera */
  } 
  .options::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 2px 0;
    background-color: white;
  }
  
  .options::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
   
  }
  .options::-webkit-scrollbar-thumb {
   border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: #9e9e9e;
  
  }
  
   .option{
    display: flex;
   /* height:60px ;*/
    width: '100%';
    align-items: center;
    cursor: pointer;
    align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
    background: #fff;
  margin-bottom: 1rem;
  text-align: start;
  }
  
  
  .option.option:hover{
    background: #EDF2F7;
  }
  
  .option i {
    font-size: 15px;
    margin-right: 12px;
  }
  .option .option-text{
    font-size: 15px;
    margin-left: 5px;
    color: #333;
  }
  .btnPrint{
    width: 50%;
  margin: 30px 10px;
  border: 1px solid #137797;
  color: #137797;
  background-color: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  }
  .btnPrint:hover{
    background-color: #137797;
  color: #fff;
  }
  .btnPrintOutline{
    width: 50%;
  margin: 30px 10px;
  border: 1px solid #137797;
  color: #137797;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  }
  .btnPrintOutline:hover{
    background-color: #137797;
    color: #fff;
  }
  .autocompleteBox :hover {
    cursor: pointer;
    background-color: #9BC5D3;
    color: #000000;
    border-radius:6px;
    padding:2.8px;
    /* padding:3.5px; */
  }
  .WrapAlignRow{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
  }
  .AlignRow{
    display:flex;
    justify-content:space-between;
     width:'100%';
    align-items:center;
    padding-bottom: 5%;
    padding-top: 3.5%;
  }
  @media (max-width: 800px) {
    .react-calendar__month-view__weekdays{
      font-size: 0.7em;
    }
    .react-calendar__navigation  {
      justify-content: center;
      gap: 0.5px;
    }
  }

  .chakra-input-style {
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #2d3748;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
  
    /* Puedes agregar más estilos según tus necesidades */
  }
  
  .chakra-input-style:focus {
    border-color: #3182ce;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.2);
  }

  .wrapSearch {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
        padding: 10px;
        transition: border-color 0.3s ease;
        width:60%,
  }
  .input-estilo {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }



.div-estilo {
  display: inline-flex;
  align-items: center;
  border: 1.6px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s ease;
  width: 60%;
}

.div-estilo:focus {
  border-color: #137798;
}
